
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo {
    font-size: 24px;
}

.sidebar {
    width: 200px;
    background: #f4f4f4;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
}

main {
    margin-left: 220px;
    padding: 20px;
}

.gallery {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 100%;
    max-width: calc(33.33% - 10px);
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.gallery img:hover {
    filter: grayscale(0%);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.titulos {
    font-size: 5vh;
    text-align: center;
}


footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

/* Media */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    main {
        margin-left: 0;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery img {
        max-width: 100%;
    }
}
